 aside {
  background-color: #f4f4f4;
  padding: 15px;
  height: 100vh; /* Altura completa de la ventana */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 10px 0;
}

nav a {
  text-decoration: none;
  color: #333;
}

